<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="/pwa-sikhgame/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Price List">
    <meta name="apple-mobile-web-app-title" content="Price List">
    <meta name="theme-color" content="#FFA500">
    <meta name="msapplication-navbutton-color" content="#FFA500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/png" sizes="192x192" href="PriceList.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="PriceList.png">

    <title>Sikh Games</title>
    <link rel="stylesheet" type="text/css" href="bulma.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="index.css" media="all">
    <script src="vue.js"></script>
</head>
<body>
    <div id='app'>
        <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class='control'>
                            <img src='SikhGame.png' alt="Sikh Games">
                        </p>
                        <p class='control'>
                            <span class='is-size-5'>Sikh Games</span>
                        </p>
                        <p class="control">
                            <span class='is-size-5'></span>
                        </p>
                        <p class="control">
                            <img @click='share' src='share.png' height='10px' />
                        </p>
                    </div>
                </div>
                
            </div>
        </nav>
        <div v-if='gameStatus == 1' class='section'>
            <div class='content is-large'>
                <h1>{{currentProcessedAnswer}}</h1>
            </div>
            <div>
                <h2>Selected Letters</h2>
                <a class='button is-black' v-for='lt in selectedLetters'>{{lt}}</a>
            </div>
            <a class='button is-white' @click='addSelectedLetter(akhar)' v-for='(akhar, index) in gurmukhiLetters'>
                {{akhar}}
            </a>
        </div>
        <div v-if='gameStatus == 0' class='section'>
            <a @click='startGame' class='button is-success is-outlined'>Start Hangman</a>
        </div>
        <div v-if='gameStatus == 2' class='section'>
            <span>Great you got it right!! The answer was {{currentAnswer}}</span>
            <a @click='startGame' class='button is-warning is-outlined'>Next Hangman</a>
        </div>
        <div v-if='gameStatus == 3' class='section'>
            <span>Oh no you got it wrong!! The answer was {{currentAnswer}}</span>
            <a @click='startGame' class='button is-warning is-outlined'>Next Hangman</a>
        </div>
        <div v-if='gameStatus == 4' class='section'>
            <span>All finished. welldone!! The answer was {{currentAnswer}}</span>
            <a @click='startGame' class='button is-warning is-outlined'>Next Hangman</a>
        </div>
        <div class="container is-mobile" v-for='item in history'>
            <div class="notification">
                {{item.answer}} - {{item.status}}
            </div>
        </div>
    </div>
</body>
<script>
    Vue.filter('currency', function (value) {
        return '£' + parseFloat(value).toFixed(2);
    });

    var app = new Vue({
    el: '#app',
    data: {
        history: [],
        attemptLimit: 10,
        attemptNo: 0,
        currentAnswerNo: 0,
        hangmanAnswers: [
            {answer: 'ਸਿੱਖੀ', clues:['5th largest religion in the world'], tags:''},
            {answer: 'ਬੰਦਾ ਸਿੰਘ ਬਹਾਦਰ ਜੀ', clues:['Known as Lakshman Das'], tags:''},
            {answer: 'ਬੀਬੀ ਨਾਨਕੀ ਜੀ', clues:['The first Sikh'], tags:''},
            {answer: 'ਭਾੲੀ ਵੀਰ ਸਿੰਘ ਜੀ', clues:['Fomous Sikh author'], tags:''},
            {answer: 'ਬਾਬਾ ਫਤਿਹ ਸਿੰਘ ਜੀ', clues:['Youngest Sikh martyr', '4th Sahibzade of Guru Gobind Singh Ji'], tags:''},
            
        ],
        currentAnswer : null,
        currentClues: null,
        currentTags: null,
        selectedLetters: null,
        gameStatus: 0,
        gurmukhiLetters: ['ੳ', 'ਅ', 'ੲ', 'ਸ', 'ਹ',
                        'ਕ', 'ਖ', 'ਗ', 'ਘ', 'ਙ',
                        'ਚ', 'ਛ', 'ਜ', 'ਝ', 'ਞ',
                        'ਟ', 'ਠ', 'ਡ', 'ਢ', 'ਣ', 
                        'ਤ', 'ਥ', 'ਦ', 'ਧ', 'ਨ', 
                        'ਪ', 'ਫ', 'ਬ', 'ਭ', 'ਮ', 
                        'ਯ', 'ਰ', 'ਲ', 'ਵ', 'ੜ', 
                        'ਸ਼', 'ਖ਼', 'ਗ਼', 'ਜ਼', 'ਫ਼', 
                        'ਲ਼', '਼', 'ਾ', 'ਿ', 'ੀ', 
                        'ੁ', 'ੂ', 'ੇ', 'ੈ', 'ੋ', 
                        'ੌ', '੍', 'ੰ', 'ੱ' 
                    ]
    },
    methods: {
        startGame: function(){
            this.gameStatus = 1;
            this.currentAnswer = this.hangmanAnswers[this.currentAnswerNo].answer;
            this.currentClues = this.hangmanAnswers[this.currentAnswerNo].clues;
            this.currentTags = this.hangmanAnswers[this.currentAnswerNo].tags;
            this.selectedLetters = [];
            this.attemptNo = 0;
        },
        share: function(){
            if ('share' in navigator) {
                navigator.share({
                    title: 'Sikh Game Total: ',
                    text: '',
                    url: location.href
                })
            }
            else{
                alert('Share not available');
            }
        },
        addSelectedLetter: function(_letter){
            this.selectedLetters.push(_letter);
            if(this.currentAnswer.indexOf(_letter) == -1){
                this.attemptNo++;
            }
        }
    },
    computed:{
        currentProcessedAnswer: function(){
            var processed = [];
            for(i=0; i<this.currentAnswer.length; i++) {
                if(this.selectedLetters.indexOf(this.currentAnswer[i]) > -1 ){
                    processed.push(this.currentAnswer[i]);
                }
                else{
                    this.currentAnswer[i] == ' ' ? processed.push(' ') : processed.push('_');
                }
            }         
            return processed.join('');
        }
    },
    watch:{
        selectedLetters : function(val){
            // won
            if(this.currentAnswer == this.currentProcessedAnswer){
                this.history.push({answer: this.currentAnswer, status: 'correct'});
                this.currentAnswerNo++;
                if(this.currentAnswerNo < this.hangmanAnswers.length){
                    this.gameStatus= 2;
                }
                else{
                    this.gameStatus= 4;
                }
            }
            else{ // in progress
                if(this.attemptNo == this.attemptLimit){
                    this.history.push({answer: this.currentAnswer, status: 'wrong'});
                    this.currentAnswerNo++;                    
                    if(this.currentAnswerNo < this.hangmanAnswers.length){
                        this.gameStatus= 3;  
                    }
                    else{
                        this.gameStatus= 4;
                    }
                }
            }
        }
    }
});
</script>

<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
                .register('/pwa-sikhgame/sw.js')
                .then(function() { console.log("Service Worker Registered"); });
    }
</script>
        
</html>

