<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="/pwa-sikhgame/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Price List">
    <meta name="apple-mobile-web-app-title" content="Price List">
    <meta name="theme-color" content="#FFA500">
    <meta name="msapplication-navbutton-color" content="#FFA500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/png" sizes="192x192" href="PriceList.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="PriceList.png">

    <title>Sikh Games</title>
    <link rel="stylesheet" type="text/css" href="bulma.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="index.css" media="all">
    <script src="vue.js"></script>
</head>
<body>
    <div id='app'>
        <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class='control'>
                            <img src='SikhGame.png' alt="Sikh Games">
                        </p>
                        <p class='control'>
                            <span class='is-size-5'>Sikh Games</span>
                        </p>
                        <p class="control">
                            <span class='is-size-5'></span>
                        </p>
                        <p class="control">
                            <img @click='share' src='share.png' height='10px' />
                        </p>
                    </div>
                </div>
                
            </div>
        </nav>
        <div class="tile is-ancestor">
                <div class="tile is-4 has-background-light">
                    <div v-if='gameStatus == 1' class='section'>
                        <div class='content is-large'>
                            <h1>{{currentProcessedAnswer}}</h1>
                        </div>
                        <div>
                            <h2>Selected Letters ({{attemptLimit - attemptNo}} out of {{attemptLimit}})</h2>
                            <a :class='selectLetterColour(lt)' v-for='lt in selectedLetters'>
                                {{lt}}
                            </a>
                        </div>
                        <a class='button is-white' @click='addSelectedLetter(akhar)' v-for='(akhar, index) in gurmukhiLetters'>
                            {{akhar}}
                        </a>
                    </div>
                    <div v-if='gameStatus == 0' class='section'>
                        <a @click='initGame' class='button is-success'>Start Hangman</a>
                    </div>
                    <div v-if='gameStatus == 2' class='section'>
                        <span>Great you got it right!! The answer was {{currentAnswer.answer}}</span><br />
                        <span>You received {{attemptLimit - attemptNo}} point(s)</span>
                        <a @click='startGame' class='button is-info'>Next Hangman</a>
                    </div>
                    <div v-if='gameStatus == 3' class='section'>
                        <span>Oh no you got it wrong!!</span>
                        <a @click='startGame' class='button is-info'>Next Hangman</a>
                    </div>
                    <div v-if='gameStatus == 4' class='section'>
                        <span>All finished. well done!! Your total points were {{totalPoints}}</span>
                        <a @click='resetGame' class='button is-info'>Next Hangman</a>
                    </div>
                </div>
                <div class="tile has-background-info">
                    <div class='tile is-child' >
                        <div class='notification'>
                            Total Points: {{totalPoints}} 
                            <a v-if='!showClue && currentAnswer != null' @click='showClue = true' class='button is-info'>Show Clue</a>
                            <span v-if='showClue && currentAnswer != null'>{{currentAnswer.clues[0]}}</span>
                        </div>

                        <div class="container" v-for='item in history'>
                            <div class="notification">
                                {{item.answer}} - {{item.status}}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<script>
    Vue.filter('currency', function (value) {
        return '£' + parseFloat(value).toFixed(2);
    });

    var app = new Vue({
    el: '#app',
    data: {
        history: [],
        showClue:false,
        attemptLimit: 10,
        attemptNo: 0,
        currentAnswerNo: 0,
        hangmanAnswers : [],
        hangmanAllAnswers: [
            {answer: 'ਮਾਤਾ ਭਾਗ ਕੌਰ ਜੀ', clues:['Led the forty liberated ones in the Battle of Muktsar'], tags:'person'},
            {answer: 'ਹਰੀ ਸਿੰਘ ਨਲਵਾ ਜੀ', clues:['Commander-in-chief of the Sikh Khalsa Army'], tags:'person'},
            {answer: 'ਸਿੱਖੀ', clues:['5th largest religion in the world'], tags:''},
            {answer: 'ਬੰਦਾ ਸਿੰਘ ਬਹਾਦਰ ਜੀ', clues:['Previously known as Maadho  Das'], tags:'person'},
            {answer: 'ਬੀਬੀ ਨਾਨਕੀ ਜੀ', clues:['The first Sikh'], tags:'person'},
            {answer: 'ਭਾੲੀ ਵੀਰ ਸਿੰਘ ਜੀ', clues:['Famous Sikh author'], tags:'person'},
            {answer: 'ਬਾਬਾ ਫਤਿਹ ਸਿੰਘ ਜੀ', clues:['Youngest Sikh martyr', '4th Sahibzada of Guru Gobind Singh Ji'], tags:'person'},
            {answer: 'ਮਾਹਾਰਾਜਾ ਰਣਜੀਤ ਸਿੰਘ ਜੀ', clues:['Ruler of the Sikh empire'], tags:'person'},
            {answer: 'ਹਰੀ ਸਿੰਘ ਨਲਵਾ ਜੀ', clues:['Commander-in-chief of the Sikh Khalsa Army'], tags:'person'}
        ],
        currentAnswer : null,
        selectedLetters: null,
        gameStatus: 0,
        gurmukhiLetters: ['ੳ', 'ਅ', 'ੲ', 'ਸ', 'ਹ',
                        'ਕ', 'ਖ', 'ਗ', 'ਘ', 'ਙ',
                        'ਚ', 'ਛ', 'ਜ', 'ਝ', 'ਞ',
                        'ਟ', 'ਠ', 'ਡ', 'ਢ', 'ਣ', 
                        'ਤ', 'ਥ', 'ਦ', 'ਧ', 'ਨ', 
                        'ਪ', 'ਫ', 'ਬ', 'ਭ', 'ਮ', 
                        'ਯ', 'ਰ', 'ਲ', 'ਵ', 'ੜ', 
                        'ਸ਼', 'ਖ਼', 'ਗ਼', 'ਜ਼', 'ਫ਼', 
                        'ਲ਼', '਼', 'ਾ', 'ਿ', 'ੀ', 
                        'ੁ', 'ੂ', 'ੇ', 'ੈ', 'ੋ', 
                        'ੌ', '੍', 'ੰ', 'ੱ' 
                    ]
    },
    methods: {       
        selectLetterColour: function(_letter) {
            return this.currentProcessedAnswer.indexOf(_letter) == -1 ? 'button is-danger' : 'button is-success';
        },
        randomList: function(limit, count){
            let arr = [];
            while(arr.length < count){
                let rnd = Math.floor((Math.random() * limit) + 1);
                if(arr.indexOf(rnd - 1) == -1){
                    arr.push(rnd - 1); // Need to remove 1 as the random number is from 1 to n
                }
            }
            return(arr);
        },
        resetGame: function(){
            this.history = [];
            this.showClue = false;
            this.attemptLimit=10;
            this.attemptNo= 0;
            this.currentAnswerNo= 0;
            this.currentAnswer= null;
            this.selectedLetters= null;
            this.gameStatus= 0;
            this.hangmanAnswers = this.randomList(this.hangmanAllAnswers.length, 2);
        },
        initGame: function(){
            this.hangmanAnswers = this.randomList(this.hangmanAllAnswers.length, 2);
            console.log(this.hangmanAnswers);
            this.startGame();
 
        },
        startGame: function(){
            this.gameStatus = this.history.length < this.hangmanAnswers.length ? 1 : 4;
            this.showClue = false;
            this.currentAnswer = this.hangmanAllAnswers[this.hangmanAnswers[this.currentAnswerNo]];
            this.selectedLetters = [];
            this.attemptNo = 0;
        },
        share: function(){
            if ('share' in navigator) {
                navigator.share({
                    title: 'Sikh Game Total: ',
                    text: '',
                    url: location.href
                })
            }
            else{
                alert('Share not available');
            }
        },
        addSelectedLetter: function(_letter){
            
            if(this.selectedLetters.indexOf(_letter) == -1){
                this.selectedLetters.push(_letter);
            }

            if(this.currentAnswer.answer.indexOf(_letter) == -1){
                this.attemptNo++;
            }
        }
    },
    computed:{
        currentProcessedAnswer: function(){
            var processed = [];
            for(i=0; i<this.currentAnswer.answer.length; i++) {
                if(this.selectedLetters.indexOf(this.currentAnswer.answer[i]) > -1 ){
                    processed.push(this.currentAnswer.answer[i]);
                }
                else{
                    this.currentAnswer.answer[i] == ' ' ? processed.push(' ') : processed.push('_');
                }
            }         
            return processed.join('');
        },
        totalPoints: function(){
               
            return this.history.reduce(function (inc, hist) {
                                    return inc + hist.points;
                                    }, 0);
        }
    },
    watch:{
        selectedLetters : function(val){
            // won
            if(this.currentAnswer != null && this.currentAnswer.answer == this.currentProcessedAnswer){
                this.history.push({answer: this.currentAnswer.answer, status: 'correct', points: this.attemptLimit - this.attemptNo});
                this.currentAnswerNo++;
                this.gameStatus= 2;
            }
            else{ // in progress
                if(this.attemptNo == this.attemptLimit){
                    this.history.push({answer: this.currentProcessedAnswer, status: 'wrong', points: 0});
                    this.currentAnswerNo++;                    
                    this.gameStatus= 3;  
                }
            }
        }
    }
});
</script>

<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
                .register('/pwa-sikhgame/sw.js')
                .then(function() { console.log("Service Worker Registered"); });
    }
</script>
        
</html>

